.DS_Store
.venv/
.env
env/
database.db
sentence_tokenizer.pickle
lib/.save_ai.py
lib/.speech
lib/__pycache__/*
lib/sensors/__pycache__/*
lib/interpreters/__pycache__/*
lib/models/__pycache__/*
lib/actuators/__pycache__/*
lib/observers/__pycache__/*
logs/*
build/
database.db-shm
database.db-wal
lib/utilities/background.wav
lib/utilities/record.py
lib/utilities/voice.wav
resources/model
resources/keys
__pycache__
lib/utilities/__pycache__
build/
logs
data
database.sqlite3
hs_err_pid7611.lo
resources/tests/*
resources/__pycache__/
